{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        Edit Item
    {% else %}
        Add Item
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        {% if form.instance.pk %}
                            Edit Item
                        {% else %}
                            Add Item
                        {% endif %}
                    </h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
